<section id="about">
	<div class="about_container">
		<img class="big_logo" src="/assets/img/logo.svg" type="image/x-ico" alt="matthieu tourdes">
		<p class="description">Hey I’m <span>Matthieu Tourdes</span>, a 20 years old Interactive & Motion Designer. At a very young age, I tried to find out what magic trick was used to make cartoon and video games, which led me to build my own toys and develop a strong passion for the motion graphics industry. I’m currently in third Year at HETIC where I’m studying code, design and marketing.</p>
		<p class="description">I’m also looking for a 4 months internship as <span>Motion Designer</span>.</p>
	</div>
</section>