<section id="geekart">

	<!--<a class="logo" href="/"><img class="" src="/assets/img/logo.svg" type="image/x-ico" alt="matthieu tourdes"></a>-->
	<div class="project_sidecolor"></div>
	<div class="project" wrapper-selector="">
		<div class="project_title_casestudy">
			<h1 class="big_title">alphabet du geek-art</h1>
			<h2 class="subtitle">Web Design - Inspired from the book Geek-Art by Thomas Olivri</h2>
		</div>
		<div class="project_description">
			<p class="description">This idea first came up by the discovery of a fantastic book : <span class="bold">« Geek-Art. Une Anthologie. Art, design, illustrations & sabres lasers »</span> de <span class="bold">Thomas Olivri</span>. Valuable object to cherish, this book deserve his price. But everyone can’t get this book which is in limited edition : then the discovery of this universe become hard to reach. The website <span class="bold">« L’Alphabet du Geek-Art »</span> was designed with the wish to introduce the Geek-Art universe with all his artists from everywhere in the world.</p>
		</div>
		<div class="project_screenshots">
			<div class="title_wrapper">
				<span class="rect_left"></span>
				<h1 class="title">Design</h1>
				<span class="rect_right"></span>
			</div>
			<div class="img_wrapper">
				<div class="bt_prev"></div>
				<div class="bt_next"></div>
				<img src="assets/img/geekart_01.png" nb-selector="0" alt="screenshot" class="project_img">
				<img src="assets/img/geekart_02.png" nb-selector="1" alt="screenshot" class="project_img">
				<img src="assets/img/geekart_03.png" nb-selector="2" alt="screenshot" class="project_img">
				<img src="assets/img/geekart_04.png" nb-selector="3" alt="screenshot" class="project_img">
				<img src="assets/img/geekart_05.png" nb-selector="4" alt="screenshot" class="project_img">
				<img src="assets/img/geekart_06.png" nb-selector="5" alt="screenshot" class="project_img">
				<img src="assets/img/geekart_07.png" nb-selector="6" alt="screenshot" class="project_img">
				<img src="assets/img/geekart_08.png" nb-selector="7" alt="screenshot" class="project_img">
				<img src="assets/img/geekart_09.png" nb-selector="8" alt="screenshot" class="project_img">
			</div>
			<ul class="nav_wrapper">
				<li img-selector="0" class="img_number">1</li>
				<li img-selector="1" class="img_number actif">2</li>
				<li img-selector="2" class="img_number">3</li>
				<li img-selector="3" class="img_number">4</li>
				<li img-selector="4" class="img_number">5</li>
				<li img-selector="5" class="img_number">6</li>
				<li img-selector="6" class="img_number">7</li>
				<li img-selector="7" class="img_number">8</li>
				<li img-selector="8" class="img_number">9</li>
			</ul>
		</div>
	</div>

</section>