<section id="newmeta">

	<!--<a class="logo" href="/"><img class="" src="/assets/img/logo.svg" type="image/x-ico" alt="matthieu tourdes"></a>-->
	<div class="project_sidecolor"></div>
	<div class="project" wrapper-selector="">
		<div class="project_title_casestudy">
			<h1 class="big_title">Newmeta</h1>
			<h2 class="subtitle">Web Design - Video Games / League of Legends</h2>
		</div>
		<div class="project_description">
			<p class="description">Newmeta first starts by <span class="bold">a passion shared by friends</span> around a videogame called League of Legends. On friday nights <span class="bold">we meet and laugh together</span>, choosing funny items and playing - far from serious way - <span class="bold">in order to create our own meta</span>. And <span class="bold">Newmeta</span> was born.</p>
		</div>
		<div class="project_screenshots">
			<div class="title_wrapper">
				<span class="rect_left"></span>
				<h1 class="title">Design</h1>
				<span class="rect_right"></span>
			</div>
			<div class="img_wrapper">
				<div class="bt_prev"></div>
				<div class="bt_next"></div>
				<img src="assets/img/newmeta_01.png" nb-selector="0" alt="screenshot" class="project_img">
				<img src="assets/img/newmeta_02.png" nb-selector="1" alt="screenshot" class="project_img">
				<img src="assets/img/newmeta_03.png" nb-selector="2" alt="screenshot" class="project_img">
				<img src="assets/img/newmeta_04.png" nb-selector="3" alt="screenshot" class="project_img">
				<img src="assets/img/newmeta_05.png" nb-selector="4" alt="screenshot" class="project_img">
				<img src="assets/img/newmeta_06.png" nb-selector="5" alt="screenshot" class="project_img">
				<img src="assets/img/newmeta_07.png" nb-selector="6" alt="screenshot" class="project_img">
				<img src="assets/img/newmeta_08.png" nb-selector="7" alt="screenshot" class="project_img">
			</div>
			<ul class="nav_wrapper">
				<li img-selector="0" class="img_number">1</li>
				<li img-selector="1" class="img_number actif">2</li>
				<li img-selector="2" class="img_number">3</li>
				<li img-selector="3" class="img_number">4</li>
				<li img-selector="4" class="img_number">5</li>
				<li img-selector="5" class="img_number">6</li>
				<li img-selector="6" class="img_number">7</li>
				<li img-selector="7" class="img_number">8</li>
			</ul>
		</div>
	</div>

</section>