<section id="showreel">
	<div class="showreel_video">
		<div class="title_wrapper">
			<h3>I'm currently working on my showreel, in the meantime you can watch the animation of my logo.</h3>
		</div>
		<div class="video_wrapper">
			<iframe src="https://player.vimeo.com/video/160931645" width="840" height="472" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</section>