<section id="tesla">
	
	<!--<a class="logo" href="/"><img class="" src="/assets/img/logo.svg" type="image/x-ico" alt="matthieu tourdes"></a>-->
	<div class="project_sidecolor"></div>
	<div class="project" wrapper-selector="">
		<div class="project_title_casestudy">
			<h1 class="big_title">Tesla dashboard redesign</h1>
			<h2 class="subtitle">Web & Motion Design - Trapcode Form / Inspired from Spectre </h2>
		</div>
		<div class="project_description">
			<p class="description">As a school project we had to redesign the <span class="bold">main dashboard</span> of the next <span class="bold">Tesla Model 3</span> with one instruction: to be inspired by a movie. My team choose the universe of <span class="bold">Spectre</span>, the last James Bond movie. So we transformed the Tesla dashboard to be entirely functional for a british agent on duty.</p>
		</div>
		<div class="project_screenshots">
			<div class="title_wrapper">
				<span class="rect_left"></span>
				<h1 class="title">Design</h1>
				<span class="rect_right"></span>
			</div>
			<div class="img_wrapper">
				<div class="bt_prev"></div>
				<div class="bt_next"></div>
				<img src="assets/img/tesla_01.png" nb-selector="0" alt="screenshot" class="project_img">
				<img src="assets/img/tesla_02.png" nb-selector="1" alt="screenshot" class="project_img">
				<img src="assets/img/tesla_03.png" nb-selector="2" alt="screenshot" class="project_img">
			</div>
			<ul class="nav_wrapper">
				<li img-selector="0" class="img_number">1</li>
				<li img-selector="1" class="img_number actif">2</li>
				<li img-selector="2" class="img_number">3</li>
			</ul>
		</div>
		<div class="project_video">
			<div class="title_wrapper">
				<span class="rect_left"></span>
				<h1 class="title">Trapcode Form Experiment</h1>
				<span class="rect_right"></span>
			</div>
			<div class="video_wrapper">
				<iframe src="https://player.vimeo.com/video/161293083" width="840" height="472" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>

</section>