<section id="works">
	<div class="project gamersorigin">
		<div class="project_cover"><a class="works_links" href="/gamersorigin"></a></div>
		<div class="project_title">
			<h1 class="big_title">Gamersorigin</h1>
			<h2 class="subtitle">Motion Design - Trapcode Particular</h2>
		</div>
	</div>
	<div class="project 4ltrophy">
		<div class="project_cover"><a class="works_links" href="/4ltrophy"></a></div>
		<div class="project_title">
			<h1 class="big_title">4L Trophy</h1>
			<h2 class="subtitle">Motion Design - Cinema 4D</h2>
		</div>
	</div>
	<div class="project tesla">
		<div class="project_cover"><a class="works_links" href="/tesla"></a></div>
		<div class="project_title">
			<h1 class="big_title">Tesla dashboard redesign</h1>
			<h2 class="subtitle">Web & Motion Design - Trapcode Form / Inspired from Spectre </h2>
		</div>
	</div>
	<div class="project geekart">
		<div class="project_cover"><a class="works_links" href="/geekart"></a></div>
		<div class="project_title">
			<h1 class="big_title">Alphabet du Geek-Art</h1>
			<h2 class="subtitle">Web Design - Inspired from the book Geek-Art by Thomas Olivri</h2>
		</div>
	</div>
	<div class="project newmeta">
		<div class="project_cover"><a class="works_links" href="/newmeta"></a></div>
		<div class="project_title">
			<h1 class="big_title">Newmeta</h1>
			<h2 class="subtitle">Web Design - Video Games / League of Legends</h2>
		</div>
	</div>
	<ul class="nav">
		<li class="project_color" data-selector="gamersorigin" ><span><div class="inner"><div class="loading_bar"></div></div></span><div class="project_name">Gamersorigin</div></li>
		<li class="project_color" data-selector="4ltrophy" ><span><div class="inner"></div></span><div class="project_name">4l Trophy</div></li>
		<li class="project_color" data-selector="tesla" ><span><div class="inner"></div></span><div class="project_name">Tesla</div></li>
		<li class="project_color" data-selector="geekart" ><span><div class="inner"></div></span><div class="project_name">Geek-Art</div></li>
		<li class="project_color" data-selector="newmeta" ><span><div class="inner"></div></span><div class="project_name">Newmeta</div></li>
	</ul>
</section>