// Reset
@import "reset";

// Fonts
@import "fonts";

// Body
html, body {
	width: 100%;
	height: 100%;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	background: #181819;
}

.no_scroll{
	overflow: hidden;
}

a{
	color: rgba(255, 255, 255, 0.3);
}

#main{
	width: 100%;
	height: 100%;
	background-size: cover;
	transition: background-image 0.5s ease-in;
}

// Common
@import "common/components";

@import "common/loader";
@import "common/header";
@import "common/close";

// Views
@import "views/showreel";
@import "views/about";
@import "views/works";
@import "views/gamersorigin";
@import "views/trophy";
@import "views/tesla";
@import "views/geekart";
@import "views/newmeta";