// Reset
@import "reset";

// Fonts
@import "fonts";

// Body
html, body {
	width: 100%;
	height: 100%;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	background: #181819;
}

.no_scroll{
	overflow: hidden;
}

#main{
	width: 100%;
	height: 100%;
	background-size: cover;
}

// Common
@import "common/components";

@import "common/loader";
@import "common/header";

// Views
@import "views/showreel";
@import "views/about";
@import "views/works";