.header_wrapper{
	width: 100%;
	position: relative;
	z-index: 20000;

	.logo{
		float: left;
		width: 31px;
		padding: 23px 0px 0px 32px;
	}

	.menu_wrapper{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		.border_menu{
			z-index: 300;
			display: block;
			position: absolute;
			background-color: #fff;
			height: 5px;
			transition: all 0.4s ease;
		}

		.left{
			width: 72px;
			left: 0%;
			transform: translateX(0%);
			transition: all 0.3s ease 0.3s;
		}

		.middle{
			width: 48px;
			left: 54.8%;
			transform: translateX(-50%);
			transition: all 0.3s ease 0.3s;
		}

		.right{
			width: 47px;
			left: 100%;
			transform: translateX(-100%);
			transition: all 0.3s ease 0.3s;
		}

		.menu_item{
			display: inline-block;
			margin-right: 46px;
			font-family: 'proximanova-regular';
			font-size: 12px;
			transition: all 0.3s ease-out; 

			.links{
				padding-top: 31px;
				text-decoration: none;
				display: block;
				text-transform: uppercase;
				transition: all 0.3s ease-out;
				letter-spacing: 0.1em;

				&:hover {
					transition: all 0.3s ease;
					font-family: 'proximanova-bold';
					color: #fff;
				}
			}
		}

		.active {
			font-family: 'proximanova-bold';
			color: rgba(255,255,255,1);
			transition: all 0.3s ease-in; 

		}

		.menu_item:last-child{
			margin-right: 0px;
		}
	}

	.socials{
		float: right;
		position: relative;
		padding: 30px 32px 0px 0px;

		a{
			text-decoration: none;
			font-family: 'proximanova-regular';
			font-size: 10px;
			color: rgba(255,255,255, 0.3);
			letter-spacing: 0.1em;
			transition: color 0.3s ease-out;

			&:hover {
				transition: all 0.3s ease; 
				color: rgba(255, 255, 255, 1);
			}

			.twitter, .linkedin{
				padding-right: 7px;
				margin-bottom: -2px;
			}

		}
		a:first-child{
			margin-right: 20px;
		}
	}
	
}